div.custom-container {
  background-color: #242424;
}

svg.custom .node circle {
  margin-top: 10px;
  height: 200px;
  stroke: #2593b8;
  position: absolute;
}

svg.custom .node text {
  font-size: 15px;
  background-color: #444;
  fill: #161414;
  transform: rotate(270deg);
  text-shadow: 0 1px 4px black;
}

svg.custom .node {
  cursor: pointer;
}

svg.custom path.link {
  fill: none;
  stroke: #2593b8;
  stroke-width: 1.5px;
}
