div.custom-container {
  background-color: #242424;
}

svg.custom .node circle {
  margin-top: 10px;
  height: 200px;
  stroke: #2593b8;
  position: absolute;
}

svg.custom .node text {
  font-size: 15px;
  background-color: #444;
  fill: #161414;
  transform: rotate(270deg);
  text-shadow: 0 1px 4px black;
}

svg.custom .node {
  cursor: pointer;
}

svg.custom path.link {
  fill: none;
  stroke: #2593b8;
  stroke-width: 1.5px;
}

.myheader {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(5px + 2vmin);
  color: white;
  height: fit-content;
}

.treeWapper {
  width: 100%;
  height: 90vh;
}

.bouncy {
   animation: bouncy 5s infinite linear;
   position: relative;
}
@keyframes bouncy {
   0% {
    top: 0em;
  }
   40% {
    top: 0em;
  }
   43% {
    top: -0.9em;
  }
   46% {
    top: 0em;
  }
   48% {
    top: -0.4em;
  }
   50% {
    top: 0em;
  }
   100% {
    top: 0em;
  }
}
