.button {
  background: linear-gradient(to right, #fe6b8b 50%, #ff8e53 50%);

  color: white;
  padding: 0 30px;
  display: block;
  height: 2rem;
  text-transform: none;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.button:hover {
  background-position: left bottom;
}

.roundBtnDiv {
  position: relative;
  display: inline-block;
  margin: 15px;
}
.roundBtn {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #8a2be2;
  display: block;
  position: relative;
  padding: 10px 30px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.roundBtn:hover {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #8a2be2;
  display: block;
  position: relative;
  padding: 10px 30px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.roundBtn:active {
  top: 10px;
  background-color: #8a2be2;
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.roundBtnDiv:after {
  height: 110%;
  width: 110%;
  padding: 100px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 10px;
  border-radius: 5px;
}
